html,body{
    height: 100%;
}
body{
    position: relative;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
}
.yf-view{
    width: 100%;  
    height: 100%;  
    height: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.yf-choose{
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.yf-choose i{
    position: absolute;
    top: 30px; 
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #928b86;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 36px;
    border-radius: 25px;
}

.yf-choose ul{
    text-align: center;
}
.yf-choose ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
}
.yf-choose ul li+li{
    margin-left: 2%;
}
.yf-choose ul li.active{
    background-color: #413e3c;
}


.yf-main{
    height: 1050px;
    margin-top: 100px;
    padding-bottom: 60px;
    text-align: center;
}

.yf-main .yf-title{
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}
.yf-main .yf-author{
    padding-bottom: 60px;
    font-size: 30px;
}
.yf-main p{
    line-height: 80px;
    font-size: 40px;
    
}



.yf-opation{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.yf-opation a{
    font-size: 40px;
}


.yf-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgba(255, 255, 255,.5);
}
/*.yf-footer .container{
    width: 90%;
}*/
.yf-footer .yf-rate{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.yf-footer .yf-rate .now-rate{
    font-size: 40px;
    color: #b30000;
}
.yf-footer .yf-rate .all-rate{
    font-size: 40px;
    color: #b30000;
}

.yf-footer .yf-rate .view-rate{
    position: relative;
    width: 70%;
    height: 10px;
    margin-top: 15px;
    background-color: white;
}
.yf-footer .yf-rate .view-rate .zero{
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    width: 30px;
    border: 8px solid #d67c6a;
    background-color: red;
    transform: translateY(-50%);
    border-radius: 15px;
}


.yf-footer .yf-control{
    display: flex;
    justify-content: space-between;
    
}
.yf-footer .yf-control a{
    font-size: 60px;
    color: #b30000;
}

