/*recommend页面样式
*  作者：Lewis
*/

.zql-hot {
  display: flex;
  justify-content: space-between;
}

.zql-hot li {
  width: 25%;
  padding: 15px 0;
  text-align: center;
}


/*.router-link-exact-active.active {
  border-bottom: 4px solid #b30000;
}*/

.zql-hot li a {
  color: #000;
  font-size: 20px;
}

.zql-hot li.active a {
  color: #b30000;
}

.zql-banner img {
  width: 100%;
}

.zql-content {
  padding: 15px;
  background: url(../img/bg.png) no-repeat;
  background-size: 100% 100%;
}

.zql-content .zql-items {
  display: flex;
  padding: 15px 0;
  justify-content: space-around;
  border-bottom: 1px solid #d1bb8d;
}

.zql-content .zql-items figure {
  text-align: center;
  width: 25%;
}

.zql-content .zql-items figure img {
  width: 100%;
  margin-bottom: 10px;
}

.zql-content .zql-items figure figcaption {
  font-size: 16px;
}

.zql-content .zql-sings {
  padding-top: 15px;
}

.zql-content .zql-sings .zql-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.zql-content .zql-sings .zql-title h3 {
  font-size: 20px;
  font-weight: bold;
}

.zql-content .zql-sings .zql-title h3 img {
  margin-right: 5px;
  vertical-align: middle;
}

.zql-content .zql-sings .zql-title .zql-more {
  font-size: 16px;
}

.zql-content .zql-sings .zql-s-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.zql-content .zql-sings .zql-s-items figure {
  text-align: left;
  width: 30%;
  margin: 15px 0;
}

.zql-content .zql-sings .zql-s-items figure img {
  width: 100%;
  margin-bottom: 10px;
}

.zql-content .zql-sings .zql-s-items figure figcaption {
  font-size: 14px;
  line-height: 18px;
}

.zql-content .zql-sings .zql-s-items figure figcaption p {
  font-size: 13px;
  color: gray;
}
