/*lists榜单页面样式P*/

//hubvues
.classify {
    .wl-list {
        .list-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 2px;
            border-bottom: 1px solid #d7d7d7;
            .wl-songs {
                position: relative;
                width: 33%;
                img {
                    width: 100%;
                    height: 100%;
                }
                i {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }
            ul {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-content: space-between;
                li {
                    margin: 10px;
                    color: #333;
                    font-size: 14px;
                }
            }
        }
    }
    .title {
        margin: 20px 0;
        border-left: 3px solid #b30000;
        font-size: 18px;
        text-indent: 5px;
    }
    .wl-global {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10px;
        .global-list {
            flex-basis: 33%;
            margin-bottom: 15px;
            .golbal-info {
                display: block;
                position: relative;
                width: 100%;
                img {
                    width: 100%;
                }
                span {
                    position: absolute;
                    bottom: 6px;
                    left: 6px;
                    color: #fff;
                }
            }
            p {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
}