.jem-hot-main {
  margin-top: 7.5rem;
  background: url('./my-bg.png') no-repeat center;
  background-size: cover;
  .main-content {
    padding-bottom: 4.5rem;
    background-color: rgba(255, 255, 255, .7);
    .banner {
      width: 100%;
    }
    .classify {
      display: flex;
      height: 12.1rem;
      border-bottom: 0.025rem solid #ddd9d2;
      justify-content: space-around;
      align-items: center;
      img {
        width: 6.45rem;
      }
      p {
        margin-top: 1rem;
        font-size: 1.25rem;
        text-align: center;
      }
    }
    .recommend-title {
      display: flex;
      height: 3.05rem;
      padding: 0 1.25rem;
      margin-top: 1rem;
      justify-content: space-between;
      align-items: center;
      img {
        display: inline-block;
        width: 0.9rem;
        margin-right: 1rem;
        vertical-align: middle;
        transform: translateY(-20%)
      }
      .main-title {
        font-size: 1.5rem;
      }
      .sub-title {
        font-size: 1rem;
      }
    }
    .recommend-songlist {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .recommend-songitem {
        position: relative;
        width: 30%;
        margin-bottom: 1rem;
        img {
          width: 100%;
        }
        figcaption {
          height: 2.55rem;
          margin-top: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.1rem;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          .play-count {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.5rem;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
            text-align: right;
            color: #fff;
            font-size: 1.25rem;
          }
        }
      }
    }
    .normal-title {
      height: 2rem;
      margin: 3rem 0 1rem;
      border-left: 0.25rem solid red;
      font-size: 1.25rem;
      text-indent: 1.25rem;
      align-items: center;
    }
    .recommend-oneOnly {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .recommend-songitem {
        width: 48%;
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
        p {
          height: 2.55rem;
          margin-top: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.1rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .huge-screen {
        width: 100%;
      }
    }
    .recommend-mv {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      figure {
        position: relative;
        width: 48%;
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
        figcaption {
          margin: 0.5rem 0 1rem;
          p {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 0.25rem;
            overflow: hidden;
          }
          .singer-name {
            color: #777;
          }
          .play-count {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.5rem;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
            text-align: right;
            color: #fff;
            font-size: 1.25rem;
          }
        }
      }
    }
    .recommend-djprogram {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      figure {
        width: 30%;
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
        figcaption {
          height: 2.55rem;
          margin-top: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.1rem;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
