header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b30000;
  z-index: 999;
  ul {
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    li {
      font-size: 1.65rem;
      font-weight: bold;
      color: rgba(255, 255, 255, .5);
    }
  }
}

.jem-hot-main {
  margin-top: 7.5rem;
  background: url('./my-bg.png') no-repeat center;
  background-size: cover;
  .main-content {
    padding-bottom: 4.5rem;
    background-color: rgba(255, 255, 255, .7);
    .banner {
      width: 100%;
    }
    .classify {
      display: flex;
      height: 12.1rem;
      border-bottom: 0.025rem solid #ddd9d2;
      justify-content: space-around;
      align-items: center;
      img {
        width: 6.45rem;
      }
      p {
        margin-top: 1rem;
        font-size: 1.25rem;
        text-align: center;
      }
    }
    .recommend-title {
      display: flex;
      height: 3.05rem;
      padding: 0 1.25rem;
      margin-top: 1rem;
      justify-content: space-between;
      align-items: center;
      img {
        display: inline-block;
        width: 0.9rem;
        margin-right: 1rem;
        vertical-align: middle;
        transform: translateY(-20%)
      }
      .main-title {
        font-size: 1.5rem;
      }
      .sub-title {
        font-size: 1rem;
      }
    }
    .recommend-songlist {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .recommend-songitem {
        width: 30%;
        margin-bottom: 1rem;
        img {
          width: 100%;
        }
        figcaption {
          height: 2.55rem;
          margin-top: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.1rem;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .normal-title {
      height: 2rem;
      margin: 3rem 0 1rem;
      border-left: 0.25rem solid red;
      font-size: 1.25rem;
      text-indent: 1.25rem;
      align-items: center;
    }
    .recommend-oneOnly {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .recommend-songitem {
        width: 48%;
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
        p {
          height: 2.55rem;
          margin-top: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.1rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .huge-screen {
        width: 100%;
      }
    }

    .recommend-mv {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      figure {
        width: 48%;
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
        figcaption {
          margin: 0.5rem 0 1rem;
          p {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 0.25rem;
            overflow: hidden;
          }
          .singer-name {
            color: #777;
          }
        }
      }
    }
  
    .recommend-djprogram {
      display: flex;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      figure {
        width: 30%;
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
        figcaption {
          height: 2.55rem;
          margin-top: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.1rem;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4.35rem;
  padding: 0.3rem;
  background: rgba(255, 255, 255, .9);
  justify-content: space-between;
  img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .jem-song-info,
  .jem-play-ctrl {
    flex-grow: 2;
  }
  .jem-song-info {
    p {
      text-indent: 1rem;
    }
    p.jem-song-name {
      padding: 1rem 0 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .jem-play-ctrl {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: 2rem;
      color: #b30000;
    }
  }
}
