.jem-main {
  width: 100%;
  height: 94vh;
  margin-top: 4.1rem;
  background: url('./my-bg.png') no-repeat center;
  background-size: cover;
  .jem-my-content {
    display: flex;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, .4);
    flex-wrap: wrap;
    justify-content: center;
    .jem-user-info {
      display: flex;
      width: 100%;
      height: 8rem;
      padding: 0 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      background-color: rgba(0, 0, 0, .1);
      justify-content: space-between;
      align-items: center;
      img {
        width: 6rem;
      }
      .jem-user-content {
        height: 100%;
        padding: 2rem 0 2rem 2rem;
        flex-grow: 5;
        p {
          margin-bottom: 1.5rem;
          font-size: 2.3rem;
          font-weight: bold;
        }
        ul {
          display: flex;
          justify-content: space-between;
          li {
            font-size: 1.4rem;
            font-weight: bold;
          }
          li.jem-detail-info {
            padding-right: 1rem;
            border-right: 1px solid #000;
          }
        }
      }
    }
    li.jem-my {
      display: flex;
      width: 85%;
      height: 8rem;
      justify-content: space-between;
      align-items: center;
      img {
        width: 3rem;
      }
      p {
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        line-height: 8rem;
        font-size: 2rem;
        font-weight: bold;
        text-indent: 1rem;
        flex-grow: 8;
        span {
          font-size: 1rem;
        }
        i {
          line-height: 8rem;
          transform: scale(1.5)
        }
      }
    }
    li.jem-self-list {
      width: 85%;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      .list-title {
        height: 6rem;
        line-height: 7rem;
        font-size: 2rem;
        font-weight: bold;
        span {
          font-size: 1.3rem;
        }
      }
      .star {
        display: flex;
        width: 100%;
        height: 5rem;
        justify-content: space-between;
        align-items: center;
        img {
          width: 5rem;
        }
        .what-i-like {
          height: 100%;
          padding-left: 2rem;
          flex-grow: 5;
          p {
            padding: 0.2rem 0 1rem;
            font-size: 2rem;
            font-weight: bold;
          }
          span {
            font-size: 1rem;
          }
        }
        i {
          transform: scale(2.5);
        }
      }
    }
    .jem-my-collect {
      width: 85%;
      padding-bottom: 10rem;
      .collect-title {
        display: flex;
        width: 100%;
        height: 4rem;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 2rem;
          font-weight: bold;
        }
        ul {
          li {
            display: inline-block;
            width: 3rem;
            font-size: 1rem;
            text-align: center;
          }
          li.album {
            border: 1px solid #000;
            border-top: 0;
            border-bottom: 0;
          }
        }
      }
      .words {
        font-size: 1rem;
        text-align: center;
        img {
          display: inline-block;
          width: 2rem;
          vertical-align: bottom;
          transform: translateY(.5vh);
        }
      }
    }
  }
}
