header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b30000;
  z-index: 999;
  ul {
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    li {
      font-size: 1.65rem;
      font-weight: bold;
      color: rgba(255, 255, 255, .5);
    }
  }
}

.yao-radio-main {
  margin-top: 4rem;
  background: url('./my-bg.png') no-repeat center;
  background-size: cover;
  .main-nav {
    display: flex;
    height: 3.55rem;
    background: #fdfcfa;
    justify-content: space-around;
    align-items: center;
    li {
      width: 25%;
      height: 100%;
      border-bottom: 0.025rem solid #ddd9d2;
      line-height: 3.55rem;
      font-size: 1.55rem;
      font-weight: bold;
      text-align: center;
    }
    li.active {
      border-color: #b30000;
      color: #b30000;
    }
  }
  .main-content {
    padding-bottom: 5rem;
    background-color: rgba(255, 255, 255, .6);
    .banner {
      width: 100%;
    }
    .classify {
      display: flex;
      height: 6.1rem;
      border-bottom: 0.025rem solid #ddd9d2;
      justify-content: space-around;
      align-items: center;
      .raido-recommend {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
      }
      .radio-classify {
        border-right: 0.025rem solid #ddd9d2;
      }
      img {
        width: 4rem;
        margin-right: 1rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
    .radio-type {
      margin-bottom: 2rem;
      .radio-title {
        height: 2rem;
        margin: 3rem 0 1rem;
        border-left: 0.25rem solid red;
        line-height: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
        text-indent: 1.25rem;
        align-items: center;
      }
      .recommend-radioItem {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        figure {
          width: 30%;
          img {
            width: 100%;
          }
          figcaption {
            height: 2.55rem;
            margin-top: 0.5rem;
            line-height: 1.4rem;
            font-size: 1.1rem;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4.35rem;
  padding: 0.3rem;
  background: rgba(255, 255, 255, .9);
  justify-content: space-between;
  img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .yao-song-info,
  .yao-play-ctrl {
    flex-grow: 2;
  }
  .yao-song-info {
    p {
      text-indent: 1rem;
    }
    p.yao-song-name {
      padding: 1rem 0 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .yao-play-ctrl {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: 2rem;
      color: #b30000;
    }
  }
}
