
.yao-radio-main {
  margin-top: 3.5rem;
  background: url('./my-bg.png') no-repeat center;
  background-size: cover;

  .main-content {
    padding-bottom: 5rem;
    background-color: rgba(255, 255, 255, .6);
    .banner {
      width: 100%;
    }
    .classify {
      display: flex;
      height: 6.1rem;
      border-bottom: 0.025rem solid #ddd9d2;
      justify-content: space-around;
      align-items: center;
      .raido-recommend {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
      }
      .radio-classify {
        border-right: 0.025rem solid #ddd9d2;
      }
      img {
        width: 4rem;
        margin-right: 1rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
    .radio-type {
      margin-bottom: 2rem;
      .radio-title {
        height: 2rem;
        margin: 3rem 0 1rem;
        border-left: 0.25rem solid red;
        line-height: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
        text-indent: 1.25rem;
        align-items: center;
      }
      .recommend-radioItem {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        figure {
          width: 30%;
          img {
            width: 100%;
          }
          figcaption {
            height: 2.55rem;
            margin-top: 0.5rem;
            line-height: 1.4rem;
            font-size: 1.1rem;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}
